# Casino Transaction Service - Environment Variables
# Copy this file to .env and fill in your values

# PostgreSQL Configuration
CASINO_DB_USER=casino_user
CASINO_DB_PASS=secret
CASINO_DB_HOST=casino_postgres
CASINO_DB_NAME=casino_db
CASINO_DB_PORT=5432
CASINO_DB_POOL_MIN=2
CASINO_DB_POOL_MAX=10
CASINO_DB_EXPOSED_PORT=5432

# Kafka Configuration
CASINO_KAFKA_HOST=casino_kafka
CASINO_KAFKA_PORT=9092
CASINO_KAFKA_TOPIC=transactions
CASINO_KAFKA_PARTITIONS=1
CASINO_TOPIC_REPLICAS=1
CASINO_KAFKA_CLUSTER_ID=casino-cluster
CASINO_KAFKA_GROUP_ID=consumer-group

# HTTP Server Configuration
CASINO_HTTP_PORT=8080
CASINO_HTTP_EXPOSED_PORT=8080

# log
CASINO_LOG_LEVEL=debug
CASINO_LOG_FORMAT=text

CASINO_SEEDER_COUNT=100
CASINO_SEEDER_USER_IDS=user_1,user_2,user_3
CASINO_SEEDER_AMOUNT=500